.container .slider {
    overflow: hidden;
    position: relative;
    min-height: 15rem;
    background-color: green;
    color: white;
    text-align: center;
}

.slide-list {
    display: flex;
    background-color: red;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    min-width: 100px;
}

.slide-list .slide {
    background-color: aqua;
    min-width: 50px;
    flex: 1 0 100%;
    /* position: relative; */
}

.slide-list .slide-image {
    display: flex;
    margin: 0 auto;
    max-height: 300px;
    width: 100%;
    background-color: brown;
    object-fit: contain;
}

.slide-list .slide-title {
    text-align: center;
    margin-top: 10px;
}