.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px red;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.container {
    background-color: #ccc;
    border: solid 1px green;
    border-radius: 2rem;
    width: 60%;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.fechar {
    align-items: center;
    background-color: transparent;
    color: red;
    outline: none;
    right: calc(-100% + 48px);
    cursor: pointer;
    top: 16px;
    display: flex;
    position: relative;
    width: 22px;
    height: 22px;
}

.fechar::after, .fechar::before {
    content: ' ';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: #000 ;
    right: calc(-100% +);
}

.fechar::after {
    transform: rotate(-45deg);
}

.fechar::before {
    transform: rotate(45deg);
}