.navbar {
    background-color: #d8d8d8;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar > img {
    height: 99%;
    display: flex;
    justify-self: center;
    width: auto;
    margin-left: 5rem;
    max-height: auto;
}

.menu-bars {
    background: none;
    font-size: 2rem;
    margin-left: 2rem;
}

.menu {
    background-color: #1F4B94;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    left: -100%;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 1000;
}

.menu.open {
    left: 0;
    transition: 0.5s;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 40px;
    width: 100%;
}

.nav-text a {
    align-items: center;
    border-radius: 4px;
    color: #f5f5f5;
    display: flex;
    font-size: 18px;
    height: 100%;
    padding: 0 16px;
    text-decoration: none;
    width: 95%;
}

.nav-text a:hover {
    color: #FFF;
}

#root > nav > ul > li:nth-child(7) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 40px;
    width: 100%;
}

.menu-items {
    background-color: #1F4B94;
    width: 100%;
}

.navbar-toggle {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: flex-start;
    width: 100%;
    animation: infinite 20s linear;
}

#root > nav > ul > li.navbar-toggle > a > svg {
    background: none;
    font-size: 3rem;
    margin-left: 20rem;
}

#root > nav > ul > li > a:hover {
    background: #5b91e9;
    color: white;
    padding: 2rem;
}

span {
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .navbar {
        background-color: #d8d8d8;
        height: 80px;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    .navbar > img {
        align-items: center;
        display: flex;
        width: 200%;
        height: 60%;
        z-index: -1000;
        margin-left: -5rem;
    }
}